# Ignore stuff that doesn't matter
!.gitignore
*

# Include the theme
!GHOSTWIRE_THEME.md
!GHOSTWIRE_FLAVOR.md

# Include AI Agents
!copilot-instructions.md
!*.instructions.md
!*.chatmode.md
!QWEN.md


#Include Github
!workflows/
copilot-instructions.md
!dependabot.yml
!ISSUE_TEMPLATE
!pull_request_template.md
