# Ignore stuff that doesn't matter
!.gitignore
*

# Include the theme
!GHOSTWIRE_THEME.md
!GHOSTWIRE_FLAVOR.md

# Include AI Agents
!AGENTS.md
!QWEN.md
!GEMINI.md

#Include Github
!workflows/
!dependabot.yml
!ISSUE_TEMPLATE
!pull_request_template.md
